
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link href="~/Content/css/Login.css" rel="stylesheet" />
</head>
<body>
    <div class="container login-container">
        <div class="row">
            <div class="col-md-6 login-form-1">
                <h3>Registrarse</h3>
                <form action="@Url.Action("Registrar", "Acceso")" method="post">
                    <div class="form-group">
                        <input type="text" name="Correo" class="form-control" placeholder="Ingrese su Email " value="" />
                    </div>
                    <div class="form-group">
                        <input type="password" name="Clave" class="form-control" placeholder="Ingrese su Contraseña " value="" />
                    </div>
                    <div class="input-group mb-2">
                        <div class="input-group-append">
                            <span class="input-group-text"><i class="fas fa-key"></i></span>
                        </div>
                        <input type="password" name="ConfirmarClave" class="form-control input_pass" value="" placeholder="Confirmar su Clave">
                    </div>

                    @if (ViewData["Mensaje"] != null)
                    {
                        <div class="alert alert-danger" role="alert">
                            @ViewData["Mensaje"]
                        </div>

                    }

                    <div class="form-group">
                        <input type="submit" name="button" class="btnSubmit" value="Registrarse" />
                    </div>
                    <div class="card-footer">
                        <div class="d-flex justify-content-center links">
                            ¿Ya tienes una cuenta?<a href="@Url.Action("Login", "Acceso")">Ingresa</a>
                        </div>

                    </div>
                </form>
            </div>

        </div>
    </div>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</body>
</html>